@import "../../../node_modules/sal.js/dist/sal.css";
.setHeight {
    height: 100vh;
}

.d-flex {
  align-items: center;
}

svg {
  height: 1.5em;
  margin-left: 0.5em;
}

.card {
  height: 40vh;
  text-decoration: none;
  .mask {
    overflow: hidden;
    img {
      height: 25vh;
      object-fit: cover;
    }
  }
  // img {
  //     filter: brightness(1);
  // }
}

a:hover {
  background-color: black;
  color: white;
  svg {
    path {
      fill: white;
    }
  }
  img {
    filter: brightness(1);
  }
}

.badge {
  display: inline-flex;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.card:hover {
  transform: scale(1.05);
}

.card {
  transition: transform 0.5s ease-in-out;
}

@media only screen and (max-width: 835px) {
  .card-body {
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@media only screen and (max-width: 725px) {
  .setHeight {
    height: fit-content;
  }
  .container {
    max-width: initial;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    max-width: 100%!important;
  }
}

.blinking-cursor {
  vertical-align: middle;
  animation: 1.5s blink step-end infinite;
}

@keyframes blink{
  from {
    color: transparent;
  }
  50% {
    color: white;
  }
}
