<!--Main Navigation-->
<div [@scrollAnimation]="state">
  <div class="container-fluid" id="landing" style="width:100vw; height:100vh; background-color:#222127">
    <div class="stay" style="position:fixed; bottom:0">
      <h2 id="subtitle">INNOVATE</h2>
      <h1 id="Vaenthan">
        <span class="glitch" data-text="V">V</span>
        <span class="glitch" data-text="A">A</span>
        <span class="glitch" data-text="E">E</span>
        <span class="glitch" data-text="N">N</span>
        <span class="glitch" data-text="T">T</span>
        <span class="glitch" data-text="H">H</span>
        <span class="glitch" data-text="A">A</span>
        <span class="glitch" data-text="N">N</span>
      </h1>
      <h1 id="Jeevarajah">
        <span class="glitch" data-text="J">J</span>
        <span class="glitch" data-text="E">E</span>
        <span class="glitch" data-text="E">E</span>
        <span class="glitch" data-text="V">V</span>
        <span class="glitch" data-text="A">A</span>
        <span class="glitch" data-text="R">R</span>
        <span class="glitch" data-text="A">A</span>
        <span class="glitch" data-text="J">J</span>
        <span class="glitch" data-text="A">A</span>
        <span class="glitch" data-text="H">H</span>
      </h1>
      <div class="lines right">
        <span class="colour" id="shrink"></span>
      </div>

      <div class="lines left">
        <span class="colour" id="grow"></span>
      </div>
    </div>
  </div>
</div>
<!--Main Navigation-->