<!--Main Navigation-->

<div class="container-fluid" id="landing" style="width:100vw; height:100vh; background-color:#222127">
  <div class="stay">
    <h2 id="subtitle">INNOVATE</h2>
    <h1 id="Vaenthan">
      <span class="glitch nbr ltr" data-text="V">0</span>
      <span class="glitch nbr ltr" data-text="A">0</span>
      <span class="glitch nbr ltr" data-text="E">0</span>
      <span class="glitch nbr ltr" data-text="N">0</span>
      <span class="glitch nbr ltr" data-text="T">0</span>
      <span class="glitch nbr ltr" data-text="H">0</span>
      <span class="glitch nbr ltr" data-text="A">0</span>
      <span class="glitch nbr ltr" data-text="N">0</span>
    </h1>
    <h1 id="Jeevarajah">
      <span class="glitch nbr ltr" data-text="J">J</span>
      <span class="glitch nbr ltr" data-text="E">E</span>
      <span class="glitch nbr ltr" data-text="E">E</span>
      <span class="glitch nbr ltr" data-text="V">V</span>
      <span class="glitch nbr ltr" data-text="A">A</span>
      <span class="glitch nbr ltr" data-text="R">R</span>
      <span class="glitch nbr ltr" data-text="A">A</span>
      <span class="glitch nbr ltr" data-text="J">J</span>
      <span class="glitch nbr ltr" data-text="A">A</span>
      <span class="glitch nbr ltr" data-text="H">H</span>
    </h1>
    <div class="lines right">
      <span class="colour" id="shrink"></span>
    </div>

    <div class="lines left">
      <span class="colour" id="grow"></span>
    </div>
  </div>
</div>
<!--Main Navigation-->