@font-face {
  font-family: futura-pt-demi;
  src: url("../../assets/fonts/FuturaPTDemi.otf");
}
@font-face {
  font-family: futura-pt-light;
  src: url("../../assets/fonts/FuturaPTLight.otf");
}

@keyframes glitch-1 {
  0% {
    clip: rect(103px, 450px, 30px, 0);
  }

  5% {
    clip: rect(94px, 450px, 44px, 0);
  }

  10% {
    clip: rect(55px, 450px, 48px, 0);
  }

  15% {
    clip: rect(11px, 450px, 110px, 0);
  }

  20% {
    clip: rect(26px, 450px, 107px, 0);
  }

  25% {
    clip: rect(49px, 450px, 71px, 0);
  }

  30% {
    clip: rect(83px, 450px, 109px, 0);
  }

  35% {
    clip: rect(52px, 450px, 45px, 0);
  }

  40% {
    clip: rect(30px, 450px, 82px, 0);
  }

  45% {
    clip: rect(58px, 450px, 106px, 0);
  }

  50% {
    clip: rect(115px, 450px, 22px, 0);
  }

  55% {
    clip: rect(56px, 450px, 96px, 0);
  }

  60% {
    clip: rect(80px, 450px, 113px, 0);
  }

  65% {
    clip: rect(9px, 450px, 93px, 0);
  }

  70% {
    clip: rect(35px, 450px, 34px, 0);
  }

  75% {
    clip: rect(12px, 450px, 63px, 0);
  }

  80% {
    clip: rect(52px, 450px, 81px, 0);
  }

  85% {
    clip: rect(14px, 450px, 109px, 0);
  }

  90% {
    clip: rect(32px, 450px, 54px, 0);
  }

  95% {
    clip: rect(72px, 450px, 67px, 0);
  }

  100% {
    clip: rect(94px, 450px, 82px, 0);
  }
}

@keyframes glitch-2 {
  0% {
    clip: rect(65px, 450px, 83px, 0);
  }

  5% {
    clip: rect(94px, 450px, 32px, 0);
  }

  10% {
    clip: rect(59px, 450px, 31px, 0);
  }

  15% {
    clip: rect(59px, 450px, 10px, 0);
  }

  20% {
    clip: rect(10px, 450px, 46px, 0);
  }

  25% {
    clip: rect(103px, 450px, 113px, 0);
  }

  30% {
    clip: rect(53px, 450px, 107px, 0);
  }

  35% {
    clip: rect(112px, 450px, 72px, 0);
  }

  40% {
    clip: rect(99px, 450px, 93px, 0);
  }

  45% {
    clip: rect(63px, 450px, 100px, 0);
  }

  50% {
    clip: rect(108px, 450px, 4px, 0);
  }

  55% {
    clip: rect(113px, 450px, 41px, 0);
  }

  60% {
    clip: rect(24px, 450px, 74px, 0);
  }

  65% {
    clip: rect(40px, 450px, 92px, 0);
  }

  70% {
    clip: rect(62px, 450px, 29px, 0);
  }

  75% {
    clip: rect(75px, 450px, 17px, 0);
  }

  80% {
    clip: rect(80px, 450px, 30px, 0);
  }

  85% {
    clip: rect(91px, 450px, 108px, 0);
  }

  90% {
    clip: rect(46px, 450px, 92px, 0);
  }

  95% {
    clip: rect(11px, 450px, 56px, 0);
  }

  100% {
    clip: rect(74px, 450px, 14px, 0);
  }
}

.stay {
  position: fixed;
  bottom: 0;
  width: 100vw;
  left: 0;
}

.glitch {
  font-family: futura-pt-demi, sans-serif;
  position: relative;
  color: #fff;
  letter-spacing: 60px;
  line-height: 2.5;
  font-size: 42px;
  text-transform: uppercase;
}

.glitch:after,
.glitch:before {
  content: attr(data-text);
  position: absolute;
  //top: -24px;
  left: 0;
  width: 100%;
  background: #222127;
  clip: rect(0, 0, 0, 0);
}

.glitch:after {
  text-shadow: -2px 0 #f0f;
  animation: glitch-1 2s infinite linear alternate-reverse;
}

.glitch:before {
  text-shadow: 2px 0 #0ff;
  animation: glitch-2 5s infinite linear alternate-reverse;
}

h2 {
  font-family: futura-pt-light, sans-serif;
  color: #fff;
  letter-spacing: 30px;
}

#Vaenthan {
  position: fixed;
  bottom: 300px;
  left: 150px;
}

#Jeevarajah {
  position: fixed;
  bottom: 200px;
  left: 150px;
}

#subtitle {
  position: absolute;
  bottom: 430px;
  left: 150px;
}

.lines {
  transform: rotate(120deg);
  display: block;
  position: absolute;
  overflow: hidden;
}

.colour {
  transform-origin: 0 center;
  background-color: #00cfff;
  position: absolute;
  opacity: 1;
  height: 3px;
}

.left {
  width: 300px;
  height: 1px;
  bottom: 125px;
  left: 310px;
  background-color: #444444;
  .colour {
    width: 130px;
    height: 3px;
  }
}

.right {
  width: 130px;
  height: 1px;
  bottom: 400px;
  left: 815px;
  .colour {
    width: 100%;
  }
}

// body,
// html {
//   overflow-x: hidden;
//   overflow-y: auto;
// }

// .left {
//   width: 300px;
//   height: 1px;
//   bottom: 125px;
//   left: 300px;
//   background-color: #444444;
//   .colour {
//     width: 130px;
//     height: 3px;
//   }
// }

// .right {
//   width: 130px;
//   height: 1px;
//   bottom: 400px;
//   left: 815px;
//   .colour {
//     width: 100%;
//   }
// }

@media only screen and (max-width: 1100px) {
  .lines {
    transform: otate(120deg);
  }
  .glitch {
    font-size: 40px;
    left: -50px;
    letter-spacing: 50px;
  }
  .left {
    left: 210px;
    bottom: 110px;
  }

  .right {
    left: 680px;
    bottom: 390px;
  }
  #subtitle {
    font-size: 20px;
    left: 100px;
  }
}

@media only screen and (max-width: 900px) {
  .lines {
    transform: rotate(120deg);
  }
  .glitch {
    font-size: 30px;
    left: -100px;
    letter-spacing: 40px;
  }
  .left {
    left: 85px;
    bottom: 105px;
  }

  .right {
    left: 480px;
    bottom: 360px;
  }
  #subtitle {
    font-size: 20px;
    left: 50px;
  }
}

@media only screen and (max-width: 725px) {
  .lines {
    transform: rotate(120deg);
  }
  .glitch {
    font-size: 25px;
    left: 0px;
    letter-spacing: 20px;
  }

  .stay {
    text-align: center;
    display: inline-block;
    top: 40vh;
  }

  #Vaenthan {
    position: static;
  }

  #Jeevarajah {
    position: static;
  }

  .left {
    left: 0px;
    bottom: 80px;
    visibility: hidden;
  }

  .right {
    left: 100px;
    bottom: 360px;
    visibility: hidden;
  }
  #subtitle {
    visibility: hidden;
  }
}
