<div class="container-fluid bg-light">
    <div class="text-muted vh-100 d-flex justify-content-center align-content-center flex-wrap">
        <div id="about" class="container" data-sal="slide-up" data-sal-delay="300" data-sal-duration="1000"
            data-sal-easing="easeInOutBounce">
            <div class="row">
                <div class="col-8">
                    <h1 class="display-4 font-weight-bold text-dark">
                        Hey!
                    </h1>
                    <span class="lead">
                        My name is <mark style="background-color: rgba(127, 255, 212, 0.5);">Vaenthan Jeevarajah</mark>, a
                    first year Software Engineering student at the University of Waterloo. Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. Doloribus earum quia voluptatum ad quaerat ullam facere debitis
                    totam! Suscipit ipsum quod quasi expedita omnis! Dolore, aut culpa. Unde, porro esse!
                    </span>
                </div>
                <div class="col-4">
                    <img src="../../assets/images/yeet.jpeg" alt="One handsome brown boi"
                        class="rounded-circle w-50 mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
</div>