@import "../../../node_modules/sal.js/dist/sal.css";

img {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(0%, -50%);
}

@media only screen and (max-width: 1199px) {
    img {
        width: 75%!important;
        min-width: 150px!important;
    }
  }