<div class="container-fluid bg-info">
    <div class="vh-100 d-flex justify-content-center align-content-center flex-wrap">
        <div class="text-light">
            <h1 class="display-4 font-weight-bold text-light">
                Experience
            </h1>
            <span class="lead">
                Check out my Github or Devpost to see some of the projects I've worked on. In addition, here are some of the
            skills I've obtained.
            </span>
        </div>
    </div>
</div>
