@import "../../../node_modules/sal.js/dist/sal.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css";

@font-face {
  font-family: Ragland;
  src: url("../../assets/fonts/Ragland.ttf");
}

.icon {
  font-size: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  :hover {
    transform: scale(1.1);
    color: #f8f9fa;
  }
}

a {
  z-index: 1000;
}

.backg {
  background-color: rgb(31, 31, 31);
}

.text {
//   color: #0ff;
color: #D4AF37;
  width: 90%;
  font-family: futura-pt-light;
  opacity: 60%;
  font-size: 5em;
}

#contact {
    font-size: 1.2em;
}

#signature {
  font-family: Ragland;
}

#first {
    opacity: 40%;
}
#second {
    opacity: 60%;
}
#third {
    opacity: 80%;
    font-family: futura-pt-demi;
    letter-spacing: 0.1em;
}