<div class="container-fluid backg">
    <div class="vh-100 d-flex justify-content-center align-content-center flex-wrap">
        <div id="contact" class="container" data-sal="slide-up" data-sal-delay="300" data-sal-duration="1000"
            data-sal-easing="easeInOutBounce">
            <div class="text">
                <h1 id="contact" class="display-3 font-weight-bold text-light">
                    <!-- <span id="first">CONTACT ME!<br></span> 
                    <span id="second">CONTACT ME!<br></span>  -->
                    <span id="third">CONTACT ME!</span> 
                </h1>
                <span class="display-4 msg">
                    Let's do something together
                </span>
            </div>
            <div class="d-flex justify-content-center display-4 icons">
                <a href="https://www.linkedin.com/in/vaenthan-jeevarajah-54a793169/" class="text-muted" target="_blank">
                    <span class="icon">
                        <i class="fab fa-linkedin"></i>
                    </span>
                </a>
                <a href="mailto:vaenthan.j@gmail.com" class="text-muted" target="_blank">
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                </a>
                <a href="https://github.com/vaenthan18" class="text-muted" target="_blank">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                </a>
                <a href="" class="text-muted" target="_blank">
                    <span class="icon">
                        <i class="far fa-file-alt"></i>
                    </span>
                </a>
            </div>
            <h1 class="display-4 text-light d-flex justify-content-center" id="signature">
                <br>
                Vaenthan.J
            </h1>
        </div>
    </div>
</div>