@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

i {
    color: #a1a1a1;
    position: absolute;
  }
  
  .about {
    top: 30%;
  }
  .code {
    top: 40%;
  }
  .work {
    top: 50%;
  }
  .art {
    top: 60%;
  }
  .contact {
    top: 70%;
  }
  
  ul {
    list-style: none;
  }
  
  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #a1a1a1;
    position: absolute;
    left: 5em;
  }

  .wrapper {
    width: 100%;
    display: flex;
  }
  
  #sidebar-wrapper {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 998;
    transition: all 0.5s ease-in-out;
    ul.components{
      padding: 0;
    }
  }

  #sidebar-wrapper.toggled  {
    left: 0;
  }

  #menu-toggle {
    position: fixed;
    left: 25px;
    top: 25px;
    z-index: 999;
    outline: none;
  }
