<div style="height: 100vh"></div>
<div class="wrapper bg-light">
  <nav id="sidebar-wrapper" class="bg-light border-right shadow">
    <ul>
      <li>
        <a href="#about" id="button1">
          <i class="material-icons about">account_box</i>
          <p class="about">About Me</p>
        </a>
      </li>
      <li>
        <a href="#code" id="button2">
          <i class="material-icons code">code</i>
          <p class="code">Code</p>
        </a>
      </li>
      <li>
        <a href="#work" id="button3">
          <i class="material-icons work">work</i>
          <p class="work">Experience</p>
        </a>
      </li>
      <li>
        <a href="#art" id="button4">
          <i class="material-icons art">art_track</i>
          <p class="art">Graphic Design</p>
        </a>
      </li>
      <li>
        <a href="#contact" id="button5">
          <i class="material-icons contact">chat</i>
          <p class="contact">Contact Me</p>
        </a>
      </li>
    </ul>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="hamburger hamburger--collapse" type="button" id="menu-toggle">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </nav>
</div>