<div style="height: 100vh"></div>
<div class="wrapper bg-light">
  <div id="sidebar-wrapper" class="bg-light border-right">
    <ul>
      <li>
        <a routerLink="/">
          <i class="material-icons about">account_box</i>
          <p class="about">About Me</p>
        </a>
      </li>
      <li>
        <a routerLink="/code">
          <i class="material-icons code">code</i>
          <p class="code">Code</p>
        </a>
      </li>
      <li>
        <a routerLink="/work">
          <i class="material-icons work">work</i>
          <p class="work">Experience</p>
        </a>
      </li>
      <li>
        <a routerLink="/art">
          <i class="material-icons art">art_track</i>
          <p class="art">Graphic Design</p>
        </a>
      </li>
      <li>
        <a routerLink="/contact">
          <i class="material-icons contact">chat</i>
          <p class="contact">Contact Me</p>
        </a>
      </li>
    </ul>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="hamburger hamburger--collapse" type="button" id="menu-toggle">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </nav>
</div>